@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('/fonts/Montserrat-ExtraBold.woff2') format('woff2');
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
}

@-moz-document url-prefix() {
  body {
    font-weight: 200;
    -moz-osx-font-smoothing: grayscale;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 4px 16px 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  font-family: inherit;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.6;
}
.btn--big {
  padding: 17px 29px 16px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 27px;
}
.btn--yellow {
  color: #424242;
  background-color: #ffd054;
}
.btn--blue {
  color: #ffffff;
  background-color: #0d8ae4;
}
.btn:disabled {
  opacity: 0.46;
  cursor: default;
}

.page-body__container {
  -ms-flex-positive: 1;
      flex-grow: 1;
  position: relative;
  z-index: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.page-body__container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 130px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.58);
}